#title{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}


.prod{
    width: 200px;
    height: 20px;
    border: 1px solid; 
    text-align: center;
}
